@import "~bootstrap/scss/bootstrap.scss";

body {
    background: black url('../assets/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-weight: lighter;
}

.text-white {
    color: white;
}

.gradient-background {
    background: #d2ebf9;
    background: -moz-linear-gradient(top,  #d2ebf9 0%, #feffff 100%);
    background: -webkit-linear-gradient(top,  #d2ebf9 0%,#feffff 100%);
    background: linear-gradient(to bottom,  #d2ebf9 0%,#feffff 100%);   
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9', endColorstr='#feffff',GradientType=0 );
}

ul {
    list-style-type: none;
    li {
        white-space: nowrap;
        font-size: 12px;
    }
}

.header-one-container {
    border-radius: 5px 5px 0px 0px;
    border: 1px solid white;
    height: 50px;
    line-height: 3;
    margin-bottom: -5px;

    .refresh-div {
        border: 1px solid white;
        padding: 0;
        border-radius: 50%;
        width: fit-content;
        height: 60%;

        &:hover {
            cursor: pointer;
        }
    }
}

.loading {
    font-size: 40px;
    margin-top: 25vh;
}

.table {
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 0px 5px;
    margin-top: -5px !important;
    thead {
        th {
            color: #236B8E;
            font-weight: lighter;
            white-space: nowrap;
        }
    }
    tbody {
        tr {
            background-color: rgba(255, 255, 255, 0.8);
            .badge-img {
                height: 24px;
                width: 24px;
            }
            td {
                border: none;

                &:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px; 
                }

                &:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .header-one-container {
        height: auto;
        line-height: normal;

        li:not(:last-of-type) {
            border-bottom: 1px solid white;
        }
    }
}
